@using MathBlog.VeiwModels
@model IEnumerable<HomeViewModel>


@foreach (var item in Model)
{
    <div class="jumbotron">
        
        <h1>@Html.ActionLink(item.Name.ToString(), "PostDetails", "Home", new { Id = item.Id }, null)</h1>
        <p>@item.Content</p>
        <p>Created by @item.UserName</p>
        <p>at: @item.DateCreated</p>
        @if (item.Comments != null)
        {
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                            @foreach (var comment in item.Comments)
                            {
                            <tr><td>@comment.Content</td></tr>
                            }
                                                
                    </tbody>
                </table>
            </div>
        }



            @Html.ActionLink("Add comment", "AddComment", "Comment", new { Id = item.Id }, null)
        </div>
}

